@model IEnumerable<bilijar.Models.Reservation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Reservations</h2>
<table id="reservations" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Reservations</th>
            <th>User</th>
            <th>Table Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script src="~/signalr/hubs"></script>
    <script>
        $(document).ready(function () {

            var table = $("table#reservations").DataTable({
                ajax: {
                    url: "api/reservations",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Id",
                        visible: false
                    },
                    {
                        data: "Name",
                        render: function (data, type, reservation) {
                            return "<a href='/reservations/edit/" + reservation.Id + "'>" + reservation.Name + "</a>";
                        }
                    },
                    {
                        data: "UserEmail"
                    },
                    {
                        data: "TableType"
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-reservation-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#reservations").on("click",
                ".js-delete",
                function () {
                    var button = $(this);
                    if (confirm("Delete this reservation?")) {
                        $.ajax(
                            {
                                url: "api/reservations/" + button.attr("data-reservation-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                    }

                });

            var reservationsHub = $.connection.reservations;

            reservationsHub.client.UpdateRecords = function () {
                console.log("refresh");
                $("table#reservations").DataTable().ajax.reload();
            };

            $.connection.hub.start().done();
        });
    </script>
}

